.form{
     text-align: center;
    .input-fiel{
       .validate{
        width: 300px;
        } 
         .origin{
        width: 250px;
    }}
    .input{
       font-size: 20px; 
    }   
}
.container{
    box-shadow: 12px 12px 10px 6px rgba(0, 0, 255, .2);
    margin-top: 20px;
    width: 520px;
    
    .btn-floating{
        margin-top: 20px;
         i{        
        &:hover{
            transform:scale(1.3);
            transition: transform .3s ease;
        }}
        
    }

}
